#hero {
    position: relative;

    display: flex;
    justify-content: center;
    align-items: center;

    height: 100vh;

    overflow-x: hidden;

    img {
        top: 0;
        position: absolute;
        min-width: 100%;
        height: 100%;
    }

    .hero-text {
        z-index: 99;

        width: min-content;

        h1 {
            width: max-content;
        }

        h2 {
            font-size: 2.6rem;
            font-weight: 700;
            line-height: 2.6rem;
            // letter-spacing: px;
            // line-height: 26px;
        }

        h1,
        h2 {
            text-transform: uppercase;
        }

        hr {
            height: 20px;
            margin-block: 10px;
            background: var(--clr-accent-green);
        }
    }
}
