*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

::selection {
    color: var(--clr-font-primary);
    background-color: var(--clr-accent-green);
}

html {
    font-size: 62.5%; /* Sets the base font-size to 10px*/
    scroll-behavior: smooth;

    scrollbar-color: var(--clr-accent-green) var(--clr-bg-dark);
    scrollbar-width: thin;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

body {
    background: var(--clr-bg-default);
}

section {
    display: flex;
    align-items: center;
}
