.theme-card {
    position: relative;
    display: flex;
    flex-direction: column;

    max-width: 350px;
    height: 403px;
    // justify-content: center;

    @media screen and (max-width: 350px) {
        & {
            max-width: 300px;
        }
    }

    $img-height: 175px;
    .img-container {
        position: relative;
        display: flex;
        justify-content: center;
        height: $img-height;
        overflow: hidden;

        background: var(--clr-bg-dark);

        .img-overlay {
            position: absolute;
            opacity: 0;

            width: 100%;
            height: 100%;

            a {
                display: flex;
                justify-content: center;
                align-items: center;
                width: 100%;
                height: 100%;
                text-transform: uppercase;
            }
        }
        &:hover {
            img {
                transition: 100ms;
                opacity: 0.25;
            }
            .img-overlay {
                transition: all 100ms;
                opacity: 1;
            }
        }
    }

    .icon {
        position: absolute;
        top: 145px;
        right: 10px;
    }

    .theme-card-text {
        padding: 30px;
        padding-top: 20px;
        h2 {
            text-transform: uppercase;
            // max-width: 80%;
            margin-bottom: 10px;

            &.blue-accent {
                color: var(--clr-accent-blue);
            }
        }
        p {
            line-height: 2rem;
        }
    }
}
