#hamburger-nav {
    z-index: 999;
    position: fixed;
    top: 0;
    right: 0;

    display: flex;
    gap: 50px;
    // flex-direction: row;

    width: 1000px;
    height: 100vh;

    transform: translateX(900px);

    &.nav-open {
        transform: translateX(500px);
        transition: 400ms ease;

        @media screen and (max-width: 520px) {
            & {
                transform: translateX(600px);
            }
            nav {
                padding-left: 50px;
            }
        }
        @media screen and (max-width: 410px) {
            & {
                transform: translateX(650px);
            }

            nav {
                padding-left: 50px;
            }
        }
    }

    .nav-hamburger {
        color: var(--clr-accent-green);

        display: flex;
        justify-content: center;
        align-items: center;

        min-width: 50px;
        width: 50px;
        height: 50px;

        margin-top: 100px;
        // margin-right: 50px;

        background: none;
        border: 4px solid var(--clr-accent-green);
        border-radius: 5px;

        &:hover {
            background: var(--clr-bg-dark);
        }

        svg {
            height: 30px;
            width: 30px;
        }
    }

    nav {
        display: flex;
        flex-direction: column;
        gap: 100px;

        padding-top: 100px;
        padding-left: 100px;
        height: 100%;
        width: 100%;

        background: var(--clr-accent-green);

        ul {
            display: flex;
            flex-direction: column;

            li {
                &:hover a {
                    color: var(--clr-bg-dark);

                    border-bottom: 2px solid var(--clr-bg-dark);
                }
                a.active {
                    font-size: 2rem;
                    color: var(--clr-bg-dark);
                }
            }
        }
    }
}
